<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A creado un nuevo blog en SocialPet</h1>
    <p>
      El enlace de su blog es: .<br>
    </p>
    <p>Que tengas un gran día!</p>
  </body>
</html>