<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Se ha cambiado su Contraseña</h1>
    <p>
      Se ha cambiando la contraseña en SocialPet,
      del usuario: <%= @user.name %>.<br>
      Con el email: <%= @user.email %>
    </p>
    <p>
      Si usted no realizo este cambio siga este enlace: <%= @url %>.
    </p>
    <p>Que tengas un gran día!</p>
  </body>
</html>