<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a SocialPet, <%= @user.name %></h1>
    <p>
      Se ha registrado correctamente en SocialPet,
      su nombre de usuarios es: <%= @user.name %>.<br>
    </p>
    <p>
      Para iniciar sesión en el sitio, simplemente siga este enlace: <%= @url %>.
    </p>
    <p>Gracias por unirte y que tengas un gran día!</p>
  </body>
</html>